<div class="container-fluid">
	<div class="row">
		<%= render "shared/sidebar" %>

		<main role="main" class="col-md-9 col-lg-10 pt-3 pb-5 px-3 px-sm-5">

      <div class="modal" id="card-modal" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true"></div>

      <div id="list-container">
        <% @list.list_elements.each do |le| %>
          <%= render("list_element", le: le) %>
        <% end %>
        <div class="le-container le-add">
          <%= link_to(new_list_element_path(list_id: @list.id), remote: true, class: "text-muted") do %>
          <h2 class="mt-3">
            <%= icon("fas", "plus") %>
          </h2>
          <% end %>
          <div class="le-add-bottom-border"></div>
        </div>
      </div>

		</main>
	</div>
</div>
