<div id="pagination-skills">
<%= paginate skills, params: { action: "search", general_skill: general_skill_param.to_s, order: order_param },
                     theme: 'twitter-bootstrap-4',
                     pagination_class: "pagination-sm justify-content-center",
                     nav_class: "d-inline-b",
                     window: 1,
                     remote: true %>
</div>
