<nav class="col-md-2 d-none d-md-block bg-light sidebar">
	<div class="sidebar-sticky">
		<nav class="col-md-2 d-none d-md-block bg-light sidebar">
			<div class="sidebar-sticky">
				<ul class="nav flex-column mt-2">
					<li class="nav-item">
						<%= link_to "Dashboard", "/cards", class: "nav-link text-muted" %>
					</li>
					<li class="nav-item">
						<%= link_to "Card List", "/cards/list", class: "nav-link text-muted" %>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</nav>
