<div id="card-<%= card.id.nil? ? "new" : card.id %>" class="card mb-2">
  <%= form_with(model: card, url: create_le_card_path) do |f| %>
  <div class="card-body bg-light p-3">
    <div class="form-group card-fact-group mb-0">
      <%= f.text_area :fact, class: "form-control" %>
    </div>
  </div>
  <%= f.submit id: "card-new-submit", style: "display:none;" %>
  <% end %>
</div>
