// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-card-button {
  @media (max-width: 575px) {
    bottom: 82px;
    right: 23px;
  }
  bottom: 110px;
  right: 55px;
  position: fixed;
  z-index: 100;

  span {
    position: absolute;
    bottom: 14px;
    right: 19px;
    z-index: 10;
  }
  a {
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    right: -1px;
    z-index: 20;
    opacity: 0.9;
  }
}
