// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.h2 {
  @media (max-width: 500px) {
    font-size: 17px;
    margin-bottom: 5px;
  }
  font-size: 22px;
  margin-bottom: 0px;
}

#score-period-button-group {
  width: 72px;

  .dropdown-menu.show {
    transform: translate3d(-88px, 31px, 0px) !important;
  }
}

#skill-period-button-group {
  width: 87px;

  .dropdown-menu.show {
    transform: translate3d(-73px, 31px, 0px) !important;
  }
}

#charts-by-skill-period-button-group {
  width: 72px;

  .dropdown-menu.show {
    transform: translate3d(-88px, 31px, 0px) !important;
  }
}

#charts-by-skill-kind-button-group .dropdown-menu.show {
  transform: translate3d(-100px, 31px, 0px) !important;
}

#all-skills-chart-period-button-group {
  width: 72px;

  .dropdown-menu.show {
    transform: translate3d(-88px, 31px, 0px) !important;
  }
}
