// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.h2 {
  font-size: 20px;
  margin-bottom: 0px;
}

#score-period-button-group .dropdown-menu.show {
  transform: translate3d(-93px, 31px, 0px) !important;
}

#skill-period-button-group .dropdown-menu.show {
  transform: translate3d(-93px, 31px, 0px) !important;
}
