#list-container {
  overflow-x: scroll;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  // > div.row {
  //   min-width: 1200px;
  //   white-space: nowrap;
  // }

  .le-add {
    h2 {
      border: 1px solid gray;
      margin-bottom: 6px;
      border-radius: 6px;
    }
    i {
      position: relative;
      left: 128px;
      bottom: 5px;
      font-size: 18px;
    }
    .le-add-bottom-border {
      border-bottom: solid 3px #343a40;
    }
  }
}
